{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="page">
    <div class="page-title-container">
        <div class="page-title">{{ title }}</div>
        <a class="page-close-btn" href="{{url_for('home')}}"></a>
    </div>
    <div class="page-content-container">
        <div class="profile-container">
            <div class="profile-img-container">
                {% if description.image %}
                <img src="data:image/png;charset=utf.8;base64,{{ description.image }}" alt="pfp">
                {% else %}
                <img class="pfp" src="../static/images/pfp.png" alt="pfp">
                {% endif %}
            </div>
            <div class="profile">
                <div class="p-title">
                    <h1>
                        {{ description.name }} {{ description.surname }}
                    </h1>
                </div>
                <div class="p-content">
                    <p>{{ description.summery }}</p>
                </div>
            </div>
        </div>
        <div class="p-container">
            <div class="p-title">
                <h1>Work expirience</h1>
            </div>
            <div class="p-content">
                <div class="list-container">
                    {% for job in jobs %}
                    <div class="list-element">
                        <div class="list-title">
                            <div class="p-title">{{ job.title }}</div>
                            <span>{{ job.date_start }} - {{ job.date_end }}</span>
                        </div>
                        <div class="list-content">
                            <span>{{ job.location }}</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <footer class="more-btn-container">
            <a class="more-btn" href="https://github.com/sonoMichael">
                <span class="more-btn-text">MORE</span>
            </a>
        </footer>
    </div>
</div>
{% endblock %}