{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="home-title-container">
    <div class="home-title">Michael Zhao</div>
    <div class="home-subtitle">Portfolio</div>
</div>
<div id="home-btns-container" class="home-buttons-container">
    {% for btn in home_btns %}
    <a href="{{ url_for(btn) }}">
        <div class="home-button pe-6">
            <div id="{{ btn }}" class="on-hover"></div>
            {{ btn }}
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}