{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="home-title-container">
    <div class="home-title">Michael Zhao</div>
    <div class="home-subtitle">Portfolio</div>
</div>
<div id="home-btns-container" class="home-buttons-container mb-6">
    {% for i in range(0, num_btns) %}
    <a href="{{ url_for('about') }}">
        <div class="home-button pe-6">
            <div id="{{ home_btns[i] }}" class="on-hover"></div>
            {{ home_btns[i] }}
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}