<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="../static/content/style.css">
    <script src="../static/scripts/home-buttons-controller.js"></script>
</head>

<body class="body">
    <div class="page">
        <div class="page-title-container">
            <div class="page-title">{{ title }}</div>
            <a class="page-close-btn" href="{{url_for('home')}}"></a>
        </div>
        <div class="page-content-container">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>

</html>