<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="../static/content/style.css">
    <script src="../static/scripts/home-buttons-controller.js"></script>
</head>

<body class="body">
    {% if title != "Portfolio" %}
    <div class="nav">
        {% for i in range(0, num_btns) %}
        <div class="nav-btn">
            <a href="#">{{ home_btns[i] }}</a>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% block content %}
    {% endblock %}
</body>

</html>