{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="page">
    <div class="page-title-container">
        <div class="page-title">{{ title }}</div>
        <a class="page-close-btn" href="{{url_for('home')}}"></a>
    </div>
    <div class="page-content-container">
        {% for proj in projects %}
        <a href="{{ proj.url }}" class="project-container">
            <div class="project-img-container">
                <img src="data:image/png;charset=utf.8;base64,{{ proj.image }}" class="project-img">
            </div>
            <div class="project-content-container">
                <div cldivss="project-title">{{ proj.title }}</div>
                <div class="project-content">{{ proj.detail }}</div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}