.body {
    background: gray;
    z-index: -10000000;
    pointer-events: none;
}

.home-button {
    margin: 0;
    padding: 0;
    font-size: 6rem;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.8;
    color: white;
    cursor: default;
    background: linear-gradient(blue 0 0) var(--p, 0) / var(--p, 0) no-repeat;
    transition: 0.5s, backgroud-position 0s;
}


.on-hover {
    margin: 0;
    padding: 0;
    height: 5rem;
    width: 100%;
    position: absolute;
    pointer-events: auto;
}

.home-button:hover {
    --p: 100%;
}

.mb-6 {
    margin-bottom: 6rem;
}

.pe-6 {
    padding-right: 6rem;
}

.title-container {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-transform: uppercase;
    width: max-content;
    height: max-content;
    color: white;
    cursor: default;
    transform: perspective(13px) rotateX(1deg) rotateY(-0.5deg) rotateZ(-2deg);
    -webkit-text-stroke: 1px #282828;
    text-shadow: 4px 4px 4px #282828;
    margin-top: 4rem;
    margin-right: 17rem;
}

.title {
    text-align: bottom;
    font-size: 7rem;
}

.subtitle {
    vertical-align: text-top;
    font-size: 4rem;
}